// General Style
.container, .container-fluid {
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}

.container {
  max-width: 1100px;
}

// Buttons
.btn {
  &.primary {
    &:hover, &:focus {
      background-color: $blue-600;
    }
    &:active {
      background-color: $blue-700;
    }
  }
}